<h1>Formulario</h1>
<form action="/pages/create" method="get">
<label>Nombre</label>
  <input name="name">
<label>Edad</label>
  <input name="age">
<label>Email</label>
  <input name="email">
  <input type="submit" value="Enviar">
</form>
